/* Styles spécifiques pour la page CV */
#cv {
    padding: 50px;
    text-align: center;
}

.pdf-container {
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

embed {
    border-radius: 8px;
}
/* Style du lien de téléchargement */
.download-link {
    text-align: center;
    margin-top: 20px;
}

.download-link a {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
}

.download-link a:hover {
    background-color: #0056b3;
}
